{% extends "proddetails/base.html" %}
{% block content %}

    <body>
        <br>
        <br>

        <div class="text-center">
            <h3>MediStore Manager</h3>
            <br>
            <h5>Medicine management made easy</h5>
            <hr style = "border: 5px solid #000">
            <br>
            <a class="btn btn-dark" type="button" href="{% url 'register' %}"> <i class="fa fa-user-plus" aria-hidden="true"> &nbsp;</i>Create your Account</a>

        </div>
    </body>

{% endblock %}